/* Default Styling */
*{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: .75vw;
    padding: none;
    border-radius: 0;
    font-size: clamp(3vh, 8rem, 2vw);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: normal;
}

/* Password */
#password{
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
    line-height: 3.5rem;
    height: 3.5rem;
    width: 100%;
    font-weight: bold;
	align-items: center;
    text-align: center;
    display: inline-block;
    background-color: black;
    color: white;
}

/* Content Shifted Down */
#content{
    position:absolute;
    top: 3.5rem;
    margin: 0px;
    left: 0px;
    width: 100%;
    padding: .75vw;
    box-sizing: border-box;
    appearance: auto;
}

/* Range */
input[type="range"]{
    top: 3.5rem;
    width: 98%;
    appearance: auto;
}

/* Checkbox */
input[type="checkbox"]{
    width: 1em;
    height: 1em;
    appearance: auto;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

/* Text Box */
input[type="text"]{
    width: 60%;
}

/* Buttons */
#buttons{
    position: absolute;   
    left: 50%;  
    transform: translate(-50%); 
}

button[type="button"]{
    background-color: black;
    color: white;
    border: none;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: .2em; 
}

button[type="button"]:hover{
    cursor: pointer;
}