/* Default Styling */
*{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: .75vw;
    padding: none;
    border-radius: 0;
    font-size: clamp(3vh, 8rem, 2vw);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: normal;
}

/* Body Styling */
body{
    background-color: #696969;
    color: white;
}

/* Password */
#password{
    position: absolute;
    margin: 0px;
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;
    top: 0px;
    right: 0px;
    font-size: .75em;
    line-height: 3.5rem;
    height: fit-content;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
	align-items: center;
    text-align: center;
    display: inline-block;
    background-color: #000000;
    color: white;
}

/* Span Styling */
span{
    font-size: 1rem;
}

/* Content Shifted Down */
#content{
    position:absolute;
    top: 3.5rem;
    margin: 0px;
    left: 0px;
    width: 100%;
    padding: .75vw;
    box-sizing: border-box;
    appearance: auto;
}

/* Range */
input[type="range"]{
    top: 3.5rem;
    width: 98%;
    appearance: auto;
}

/* Checkbox */
input[type="checkbox"]{
    width: 1em;
    height: 1em;
    appearance: auto;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

/* Different Color Checkboxes and Labels */
#cap{
    accent-color: #0057A5;
}

label[for="cap"]{
    color: #8FCAFF;
}

#low{
    accent-color: #A000A5;
}

label[for="low"]{
    color: #FC8FFF;
}

#num{
    accent-color: #D86600;
}

label[for="num"]{
    color: #FFC48F;
}

#sym{
    accent-color: #04A500;
}

label[for="sym"]{
    color: #92FF8F;
}

#hide{
    accent-color: #C00005;
}

label[for="hide"]{
    color: #FF7276;
}

/* Text Box */
input[type="text"]{
    width: 60%;
    background-color: #696969;
    color: white;
    border-color: white;
    border-style: solid;
    padding-left: .4rem;
    padding-right: .4rem;
}

input[type="text"]::placeholder{
    color: #f4f4f4;
}

/* Buttons */
#buttons{
    position: absolute;   
    left: 50%;  
    transform: translate(-50%); 
}

button[type="button"]{
    background-color: #353535;
    color: white;
    border: none;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .2em; 
}

button[type="button"]:hover{
    cursor: pointer;
}

/* Span Styling */
span{
    width: fit-content;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: center;
}